################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/opencv-lab-2.vcxproj.filters
/opencv-lab-2.vcxproj
/opencv-lab-2.vcxproj.user
/opencv-lab-2.sln
/.vs/opencv-lab-2/v16
/Debug
/x64
