################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/opencv-lab-2.vcxproj.filters
